{% extends 'app/_layout.html' %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Meus Repositórios no GitHub</h3><br>
            <h6>Buscar por:</h6><br>
            <div class="row">
                <div class="col-md-3">
                    <label>Data</label>
                    <select class="form-group col-md-8" onchange="dataRepo(this.value);">
                        <option value="" selected disabled>Data</option>
                        <option value=""></option>
                        <option value="mais_antigo">Mais Antigo</option>
                        <option value="mais_recente">Mais Recente</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>Status</label>
                    <select class="form-group col-md-8" onchange="">
                        <option value="" selected disabled>Status</option>
                        <option value=""></option>
                        <option value="ativo">Ativo</option>
                        <option value="arquivado">Arquivado</option>
                    </select>
                </div>


                <div class="col-md-3">
                    <label>Atualização</label>
                    <select class="form-group col-md-8" onchange="">
                        <option value="" selected disabled>Atualização</option>
                        <option value=""></option>
                        <option value="mais_antigo">Mais Antigo</option>
                        <option value="mais_recente">Mais Recente</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<input type="hidden" id="search" />
<div class="container">
    <table id="repos" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Fork <span style="font-size: 12px; font-style: italic;">(origem é outro projeto)</span></th>
                <th>Url</th>
                <th>Status</th>
                <th>Última Atualização</th>
                <th>Linguagens</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in data %}
            <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.date }}</td>
                <td style="text-align: center; font-style: italic;">{{ obj.fork }}</td>
                <td><a href="{{ obj.url }}" target="noopener noreferrer">{{ obj.url }}</a></td>
                <td style="text-align: center; font-style: italic;">{{ obj.status }}</td>
                <td>{{ obj.updated }}</td>
                <td style="text-align: center; font-style: italic;">{{ obj.languages }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#repos').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "emptyTable": "Nenhum registro encontrado",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                "infoFiltered": "(Filtrados de _MAX_ registros)",
                "infoThousands": ".",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum registro encontrado",
                "search": "Pesquisar",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                }
            },
        });
    });
</script>
<script src="{% static 'js/repos.js' %}"></script>
{% endblock js %}